# Virtual environment
.venv/

# Personal Files
src/config/config.yaml
cron/run.sh
cron/paperwatch.cron
downloads/
notify.py

# Python cache files
__pycache__/
fetchers/__pycache__/

# Log files
src/logs/*.log